.customer-management-container {
	display: flex;
	justify-content: space-between;
	height: 100vh; /* Make the container take the full height of the viewport */
	padding-right: 20px; /* Add some padding to the right side */
	transition: all 0.3s ease-in-out; /* Smooth transition for layout changes */
}

.customer-management {
	padding: 20px;
	width: 100%; /* Full width when no chat is open */
	transition: width 0.3s ease-in-out; /* Smooth transition for width */
}

.customer-management-container.chat-open .customer-management {
	width: 40%; /* Shrink to 40% when chat is open */
}

.customer-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px;
}

.customer-form input {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	font-size: 16px;
}

.customer-form button {
	padding: 10px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.customer-form button:hover {
	background-color: #0056b3;
}

.customer-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 500px; /* Set a fixed height for the messages container */
	overflow-y: auto; /* Enable vertical scrolling */
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px;
}

.customer-item {
	padding: 10px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.customer-item:hover {
	background-color: #f0f0f0;
}

.customer-item button {
	padding: 10px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.customer-item button:hover {
	background-color: #0056b3;
}

/* Chat window container */
.chat-window-container {
	width: 0; /* Initially hidden */
	transition: width 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for width and transform */
	transform: translateX(100%); /* Initially off-screen */
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
}

.chat-window-container.open {
	width: 55%; /* Take up 55% of the screen when open */
	transform: translateX(0); /* Slide in when open */
}

.chat-window-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 8px;
	position: relative;
}

.chat-window-content h3 {
	margin: 15px 10px 15px 10px;
}

.chat-window-content .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px;
}

.chat-window-contentm button:hover {
	background-color: #0056b3;
}

/* Animation for sliding in the chat window */
@keyframes slideIn {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
