.kanban-board {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.kanban-column {
	width: 18%;
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kanban-column h2 {
	text-align: center;
	margin-bottom: 20px;
}

.kanban-column ul {
	padding: 0px;
}

.orderList__order-item {
	position: relative;
	background-color: #fff;
	padding: 10px;
	margin: 25px 10px;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.orderList__order-item.withButton {
	padding-bottom: 50px;
}

.orderList__order-item strong {
	color: #333;
}

.advance-button {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px;
}

.advance-button:hover {
	background-color: #0056b3;
}
